<div style="text-align:center">
    <h1>
        Welcome to VBR Demo!
    </h1>
</div>
<h2>Here are some links to demos: </h2>
<ul style="border-bottom: 3px solid">
    <li><h2><a routerLink="translate-pipe">vbrTranslate Pipe</a></h2></li>
    <li><h2><a routerLink="pulsar">VbrPulsar</a></h2></li>
    <li><h2><a routerLink="input-keyboard">VbrInputKeyboard</a></h2></li>
    <li><h2><a routerLink="layout">VbrLayout</a></h2></li>
    <li><h2><a routerLink="sidenav-menu">VbrSidenavMenu</a></h2></li>
</ul>

<router-outlet></router-outlet>
